In [79]:
import pandas as pd

In [80]:
import numpy as np

In [81]:
s=pd.Series([10,20,30],index=['a','b','c'])
print(s)

a    10
b    20
c    30
dtype: int64

In [82]:
print(s['a'])

10

In [83]:
print(s[1])

20

<ipython-input-83-c1d0669698c5>:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[1])

In [84]:
data = {'Name': ['Alice', 'Bob'], 'Age': [25, 30]}
df = pd.DataFrame(data)
print(df)

    Name  Age
0  Alice   25
1    Bob   30

In [85]:
df.set_index('Name', inplace=True)
print(df)

       Age
Name
Alice   25
Bob     30

In [86]:
df.index

Index(['Alice', 'Bob'], dtype='object', name='Name')

In [87]:
df.reset_index(inplace=True)

In [88]:
df['Name']

0    Alice
1      Bob
Name: Name, dtype: object

In [89]:
df[['Name','Age']]

    Name  Age
0  Alice   25
1    Bob   30

In [90]:
df.loc[0]

Name    Alice
Age        25
Name: 0, dtype: object

In [91]:
df.loc[1]

Name    Bob
Age      30
Name: 1, dtype: object

In [92]:
df.iloc[0]

Name    Alice
Age        25
Name: 0, dtype: object

In [93]:
df[df['Age']>20]

    Name  Age
0  Alice   25
1    Bob   30

In [94]:
df[(df['Age']>25)|(df['Age']<30)]

    Name  Age
0  Alice   25
1    Bob   30

In [95]:
df.to_csv('output.csv',index=False)

In [96]:
df.to_excel('output.xlsx',index=False)

In [97]:
print(df.head())

    Name  Age
0  Alice   25
1    Bob   30

In [98]:
print(df)

    Name  Age
0  Alice   25
1    Bob   30

In [99]:
print(df.tail())

    Name  Age
0  Alice   25
1    Bob   30

In [100]:
df.describe()

             Age
count   2.000000
mean   27.500000
std     3.535534
min    25.000000
25%    26.250000
50%    27.500000
75%    28.750000
max    30.000000

In [101]:
'#filling nan values with 0'
df_filled_with_zeros=df.fillna(0)
print(df_filled_with_zeros)

    Name  Age
0  Alice   25
1    Bob   30

In [102]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    2 non-null      object
 1   Age     2 non-null      int64
dtypes: int64(1), object(1)
memory usage: 160.0+ bytes
None

In [103]:
print(df.iloc[0:2])

    Name  Age
0  Alice   25
1    Bob   30

In [104]:
df.loc[2]=['Vishnu',22]

In [105]:
print(df)

     Name  Age
0   Alice   25
1     Bob   30
2  Vishnu   22

In [106]:
df.loc[3]=[np.nan, 29]

In [107]:
print(df.isnull())

    Name    Age
0  False  False
1  False  False
2  False  False
3   True  False

In [108]:
print(df.isnull().sum())

Name    1
Age     0
dtype: int64

In [109]:
dropped_rows=df.dropna()
print(dropped_rows)

     Name   Age
0   Alice  25.0
1     Bob  30.0
2  Vishnu  22.0

In [110]:
dropped_columns=df.dropna(axis=1)
print(dropped_columns)

    Age
0  25.0
1  30.0
2  22.0
3  29.0

## filling nan values

In [111]:
#filling missing values with 1
df_filled_with_ones=df.fillna(1)
print(df_filled_with_ones)

     Name   Age
0   Alice  25.0
1     Bob  30.0
2  Vishnu  22.0
3       1  29.0

In [112]:
#filling missing values with string
df_filled__with_string=df.fillna('missing value')
print(df_filled__with_string)

            Name   Age
0          Alice  25.0
1            Bob  30.0
2         Vishnu  22.0
3  missing value  29.0

In [113]:
df.loc[4]=['krishna',np.nan]

In [114]:
df.describe()

             Age
count   4.000000
mean   26.500000
std     3.696846
min    22.000000
25%    24.250000
50%    27.000000
75%    29.250000
max    30.000000

In [115]:
print(df)

      Name   Age
0    Alice  25.0
1      Bob  30.0
2   Vishnu  22.0
3      NaN  29.0
4  krishna   NaN

In [116]:
#filling missing values with mean/median/mode
#1.mean
df_filled_with_mean=df['Age'].copy()
df_filled_with_mean=df_filled_with_mean.fillna(df['Age'].mean())
print(df_filled_with_mean)

0    25.0
1    30.0
2    22.0
3    29.0
4    26.5
Name: Age, dtype: float64

In [117]:
print(df_filled_with_mean)

0    25.0
1    30.0
2    22.0
3    29.0
4    26.5
Name: Age, dtype: float64

In [118]:
print(df)

      Name   Age
0    Alice  25.0
1      Bob  30.0
2   Vishnu  22.0
3      NaN  29.0
4  krishna   NaN

In [119]:
df_filled_mean = df.copy()
df_filled_mean['Age'] = df['Age'].fillna(df['Age'].mean())
print(df_filled_mean)

      Name   Age
0    Alice  25.0
1      Bob  30.0
2   Vishnu  22.0
3      NaN  29.0
4  krishna  26.5

In [120]:
# Filling missing values in 'Age' with the mean
df_filled_with_mean = df['Age'].copy()  # Copy only the 'Age' column
df_filled_with_mean = df_filled_with_mean.fillna(df['Age'].mean())  # Fill NaN with the mean of 'Age'
print(df_filled_with_mean)

0    25.0
1    30.0
2    22.0
3    29.0
4    26.5
Name: Age, dtype: float64

In [121]:
print(pd.concat([df['Name'],df_filled_with_mean],axis=1))

      Name   Age
0    Alice  25.0
1      Bob  30.0
2   Vishnu  22.0
3      NaN  29.0
4  krishna  26.5

In [122]:
df_filled_with_median=df['Age'].copy()
df_filled_with_median=df_filled_with_median.fillna(df['Age'].median())
print(df_filled_with_median)

0    25.0
1    30.0
2    22.0
3    29.0
4    27.0
Name: Age, dtype: float64

In [123]:
print(pd.concat([df['Name'],df_filled_with_median],axis=1))

      Name   Age
0    Alice  25.0
1      Bob  30.0
2   Vishnu  22.0
3      NaN  29.0
4  krishna  27.0

In [124]:
df_filled_with_mode=df['Age'].copy()
df_filled_with_mode=df_filled_with_mode.fillna(df['Age'].mode()[0])
print(df_filled_with_mode)

0    25.0
1    30.0
2    22.0
3    29.0
4    22.0
Name: Age, dtype: float64

In [125]:
print(pd.concat([df['Name'],df_filled_with_mode],axis=1))

      Name   Age
0    Alice  25.0
1      Bob  30.0
2   Vishnu  22.0
3      NaN  29.0
4  krishna  22.0

In [126]:
df_forward_fill=df.copy()
df_forward_fill=df_forward_fill.fillna(method='ffill')
print(df_forward_fill)

      Name   Age
0    Alice  25.0
1      Bob  30.0
2   Vishnu  22.0
3   Vishnu  29.0
4  krishna  29.0

<ipython-input-126-4c2d06affc16>:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_forward_fill=df_forward_fill.fillna(method='ffill')

In [127]:
df_backward_fill=df.copy()
df_backward_fill=df_backward_fill.fillna(method='bfill')
print(df_backward_fill)

      Name   Age
0    Alice  25.0
1      Bob  30.0
2   Vishnu  22.0
3  krishna  29.0
4  krishna   NaN

<ipython-input-127-9f67fa1d4dd4>:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_backward_fill=df_backward_fill.fillna(method='bfill')

In [128]:
#applying forward and backward fillna as in this first forward processes and unprocessed values goes with backward
df_forward_backward_fill=df.copy()
df_forward_backward_fill=df_forward_backward_fill.fillna(method='ffill').fillna(method='bfill')
print(df_forward_backward_fill)

      Name   Age
0    Alice  25.0
1      Bob  30.0
2   Vishnu  22.0
3   Vishnu  29.0
4  krishna  29.0

<ipython-input-128-7e4f90b9d641>:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_forward_backward_fill=df_forward_backward_fill.fillna(method='ffill').fillna(method='bfill')

In [129]:
# Replace NaN values with a custom value
df_replaced = df.replace(np.nan, 'Not Available')
print("\nDataFrame after replacing null values:")
print(df_replaced)

DataFrame after replacing null values:
            Name            Age
0          Alice           25.0
1            Bob           30.0
2         Vishnu           22.0
3  Not Available           29.0
4        krishna  Not Available

In [130]:
df_interpolated=df.interpolate(method='linear')
print(df_interpolated)

      Name   Age
0    Alice  25.0
1      Bob  30.0
2   Vishnu  22.0
3      NaN  29.0
4  krishna  29.0

<ipython-input-130-248742d64115>:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_interpolated=df.interpolate(method='linear')

In [131]:
df_interpolated_poly=df.interpolate(method='polynomial',order=2)
print(df_interpolated_poly)

      Name   Age
0    Alice  25.0
1      Bob  30.0
2   Vishnu  22.0
3      NaN  29.0
4  krishna   NaN

<ipython-input-131-eb84e7bc7c4d>:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_interpolated_poly=df.interpolate(method='polynomial',order=2)

In [132]:
df_interpolated_spline=df.interpolate(method='spline',order=2)
print(df_interpolated_spline)

      Name        Age
0    Alice  25.000000
1      Bob  30.000000
2   Vishnu  22.000000
3      NaN  29.000000
4  krishna  47.468068

<ipython-input-132-7ee58aa19c40>:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_interpolated_spline=df.interpolate(method='spline',order=2)

In [133]:
df_interpolated_spline=df.interpolate(method='spline',order=3)
print(df_interpolated_spline)

      Name   Age
0    Alice  25.0
1      Bob  30.0
2   Vishnu  22.0
3      NaN  29.0
4  krishna  79.0

<ipython-input-133-d6c39cee3d16>:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_interpolated_spline=df.interpolate(method='spline',order=3)

In [134]:
df_sort_asc=df['Age'].sort_values(ascending=True)
print(df_sort_asc)

2    22.0
0    25.0
3    29.0
1    30.0
4     NaN
Name: Age, dtype: float64

In [135]:
df_desc=df['Age'].sort_values(ascending=True)
print(df_desc)

2    22.0
0    25.0
3    29.0
1    30.0
4     NaN
Name: Age, dtype: float64

In [136]:
df_apply_functions=df['Age'].apply(lambda x:x*x)
print(df_apply_functions)

0    625.0
1    900.0
2    484.0
3    841.0
4      NaN
Name: Age, dtype: float64

In [137]:
df_apply_map=df['Age'].map(lambda x:x*x)
print(df_apply_map)

0    625.0
1    900.0
2    484.0
3    841.0
4      NaN
Name: Age, dtype: float64

In [138]:
df['Sarlary']=[20111,21122,21121,212122,222212]

In [139]:
df

      Name   Age  Sarlary
0    Alice  25.0    20111
1      Bob  30.0    21122
2   Vishnu  22.0    21121
3      NaN  29.0   212122
4  krishna   NaN   222212

In [140]:
grouped = df.groupby('Age')
print(grouped.mean(numeric_only=True))

       Sarlary
Age
22.0   21121.0
25.0   20111.0
29.0  212122.0
30.0   21122.0

In [141]:
df1 = pd.DataFrame({'key': ['a', 'b', 'c'], 'A': [1, 2, 3]})
df2 = pd.DataFrame({'key': ['a', 'c', 'd'], 'B': [4, 5, 6]})

result = pd.merge(df1, df2, on='key', how='inner')
print(result)

  key  A  B
0   a  1  4
1   c  3  5

In [142]:
df1 = pd.DataFrame({'key': ['a', 'b', 'c'], 'A': [1, 2, 3]})
df2 = pd.DataFrame({'key': ['a', 'c', 'd'], 'B': [4, 5, 6]})

result = pd.merge(df1, df2, on='key', how='outer')
print(result)

  key    A    B
0   a  1.0  4.0
1   b  2.0  NaN
2   c  3.0  5.0
3   d  NaN  6.0

In [143]:
import pandas as pd

df1 = pd.DataFrame({'A': [1, 2, 3]}, index=['a', 'b', 'c'])
df2 = pd.DataFrame({'B': [4, 5, 6]}, index=['a', 'c', 'd'])

result = df1.join(df2, how='outer')
print(result)

     A    B
a  1.0  4.0
b  2.0  NaN
c  3.0  5.0
d  NaN  6.0

In [144]:
#working with time series data
dates = pd.date_range('2023-01-01', periods=5, freq='D')
data = {'Date': dates, 'Value': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
print(df)

        Date  Value
0 2023-01-01     10
1 2023-01-02     20
2 2023-01-03     30
3 2023-01-04     40
4 2023-01-05     50

In [145]:
df = df.set_index('Date')
print(df.resample('D').sum())

            Value
Date
2023-01-01     10
2023-01-02     20
2023-01-03     30
2023-01-04     40
2023-01-05     50

Learn time series and piviot series

In [146]:
data={'Name':['a','b','c'],'departmenty':['hr','it','hr'],'salary':[1000,2000,3000],'age':[20,21,22]}
df=pd.DataFrame(data)
print(df)

  Name departmenty  salary  age
0    a          hr    1000   20
1    b          it    2000   21
2    c          hr    3000   22

In [147]:
#pivot table( it would make some column or row as a )
pivot_table=pd.pivot_table(df,values='salary',index='Name',columns='departmenty',aggfunc='sum')
print(pivot_table)

departmenty      hr      it
Name
a            1000.0     NaN
b               NaN  2000.0
c            3000.0     NaN

In [151]:
arrays=[['a','b','c'],['HR','IT','HR']]
index=pd.MultiIndex.from_arrays(arrays,names=('Name','Department'))
df=pd.DataFrame({'salary':[1000,2000,3000]},index=index)
print(df)

                 salary
Name Department
a    HR            1000
b    IT            2000
c    HR            3000